# Entornos virtuales
venv/
env/
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Archivos de entorno
.env

# Jupyter
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log